{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.illposed.osc/javaosc-core {:mvn/version "0.8"}
        io.github.jprudent/euclidian-rhythms {:git/sha "89422b14901a59034ee8f30557c035a678011416"}}}
